<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Simple {{ title }} network example!
  </h1>
  Num of training steps: <input [(ngModel)]="numOfTrainingSteps" type="number" /><br /><br>
  <button (click)="train(numOfTrainingSteps)" [disabled]="trainingInProgress">Train</button>
  <br/><br/>
  <button (click)="generatePoints()" [disabled]="!trainedWeight || trainingInProgress">Generate New Points</button>
<br />
  <ng-container *ngIf="trainedWeight && !trainingInProgress && points.length">
    <svg [attr.width]="X_MAX" [attr.height]="Y_MAX">
      <circle *ngFor="let point of points"
              [attr.cx]="point.x"
              [attr.cy]="point.y"
              r="3"
              [attr.fill]="teamColor(point)">
      </circle>
      <line x1="0" [attr.x2]="X_MAX" y1="0" [attr.y2]="Y_MAX" stroke="purple"></line>
    </svg>
  </ng-container>

</div>
